body {
    background-color: lightblue;
}

/* button {
    height: 50px;
    width: 150px;
    padding: 20px;
    font-size: 15px;
    border-radius: 50px;
    background: linear-gradient(lightcoral, lightgreen);
} */

/* .gardient_background {
    background: linear-gradient(pink, blue);
    background: linear-gradient(to top, pink, blue);
    background: linear-gradient(pink, blue);
    background: linear-gradient(pink, blue);
    background: linear-gradient(pink, blue);
    background: linear-gradient(pink, blue);
    background: linear-gradient(pink, blue);
    background: linear-gradient(pink, blue);
} */

/* .gradient_background {
    height: 200px;
    width: 300px;
    border: 5px solid blue;
}

.gradient_background:hover {
    background-image: linear-gradient(#a54a4a, #b7f2b7, #4949bd);
} */
/* 
.grad3 {
    height: 300px;
    width: 400px;
    background-image: url(python.png);
    background-size: cover;
    margin: 50px;
}

.child {
    height: 300px;
    width: 400px;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.494);
}

.grad4 {
    height: 300px;
    width: 400px;
    background-image: url(python.png);
    background-size: cover;
}

.grad4:hover {
    background: linear-gradient(rgba(182, 242, 183, 0.554), rgba(73, 73, 189, 0.586)), url(logo_amino.png);
} */

.d_flex {
    background-color: lightcoral;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse;
}

.inner_box {
    border: 4px solid navy;
    margin: 20px;
    padding: 10px;
    width: 28%;
}

/* 
.d_flex2 {
    background-color: lightcyan;
    border: 4px solid darkcyan;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    justify-content: flex-start;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
} */

.child_div2 {
    background-color: #4949bd;
    border: 1px solid black;
    padding: 20px;
    color: white;
    margin: 10px;
    height: 50px;
}

.d_flex3 {
    padding: 10px;
    background-color: lightgray;
    border: 4px solid black;
    margin: 20px;
    display: flex;
    height: 400px;
    align-items: start;
    align-items: end;
    align-items: center;
    justify-content: center;
}

.gradient_background2 {
    height: 200px;
    width: 300px;
    /* background-color: pink; */
    background-image: linear-gradient(pink, blue);
    background-image: linear-gradient(to top, pink, blue);
    background-image: linear-gradient(to left, pink, blue);
    background-image: linear-gradient(to right, pink, blue);
    background-image: linear-gradient(to bottom, pink, blue);
    background-image: linear-gradient(#a54a4a, #b7f2b7, #4949bd);
    background-image: radial-gradient(#a54a4a, #b7f2b7, #4949bd);
    background-image: linear-gradient(230deg, #a54a4a, #b7f2b7, #4949bd);

}