.main_box {
    display: flex;
}

.list_box ul li {
    list-style-type: none;
    padding: 50px 50px 0 0;
    font-size: 20px;
    font-weight: 400;
    color: whitesmoke;
}

.list_box {
    width: 200px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    margin-right: 50px;
    height: 750px;
    background-color: rgb(47, 64, 71);
}

.content_box h1 {
    font-size: 40px;
    color: #0084ff;
    font-weight: 600;
}

.content_box p {
    font-size: 20px;
    color: red;
    font-style: italic;
}